* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.renglon {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.imagen-header img{
    height: 10vh;
}

.barra{
    display: flex;
    gap: 1rem;
}

.barra input{
    border-radius: 10px;
    height: 5vh;
    border: 1px solid black;
    font-size: 1rem;
    padding: 1rem;
}

div.navbar {
    background-color: #CD0002;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #ebebeb;
    
}

ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;

}

.navbar a {
    text-decoration: none;
    color: #ebebeb;
}

.burger {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.fas {
    color: #fff;
    font-size: 20px;
    background-color: #CD0002;
    padding: 10px 12px;
    margin: -10px;
    border-radius: 10%;
    text-align: center;
}

h2{
    size:24px;
    margin: 15px 2px;
    text-align: center;
}

.descripcion{
    size: 16px;
} 

.descuentos{
    size: 16px;
    width:40%;
    color: #CD0002;
}

.precio {
    size: 18px;
    width:50%;
}

.compra-cuotas {
    text-align: center;
}

.camionenvio {
    color: #CD0002;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    border-color: #CD0002;
    border: #CD0002 solid 1px;
    padding: 5px;
    position: absolute;
    right: 20px;
    font-size: 16px;
    width: 30px;
    height: 30px;

}
.camionenvio:hover{
    transform:rotate(-90deg);
}

main 
{
    text-align: center;
    width: 90%;
    margin: auto;
}

.producto 
{
    margin: 15px;
    width: 95%;
}

.detalles
{
    border-top: solid 1px #ebebeb;
    border-left: 15px;
    border-right: 15px;
    position: relative;
    
}

.fa-user-shield, .fa-gift, .fa-credit-card 
{
    color: #ebebeb;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-magnifying-glass
{
    color: black;
    font-size: 2em;
}

footer{
    background-color: #CD0002;
    color: #ebebeb;
    padding: 2rem;
    margin-top: 4rem;
}

.items-footer 
{
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;  
}



/* mobile */
@media (max-width: 361px) {
    .descripcion{
        display:none;
    }
}


/* tablet */
@media (min-width: 361px) {
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-grow: 50%;
    }
    .burger{
        display: none;
    }  
}



/* desktop */
@media (min-width: 769px) 
{   

    div.navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        gap: 1rem;
    }

    .navbar a:hover{
        background-color: black;
        border-radius: 50% 20% / 10% 40%;
        padding: 0.5rem;
        /* color: #CD0002; */
        font-weight: bolder;
    
    }
    
    .navbar a {
        text-decoration: none;
        color: #ebebeb;
    }




    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-grow: 25%;
        text-align: center;
    }
    
    .listaProducto{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .renglon, .producto-visita, .listadoOfertas {
        display: flex;
        flex-wrap: nowrap;
    }

    .items-footer 
    {
        text-align: center;
        font-family: 'Roboto';
        font-size: 14px;  
    }
        
}


